// Title: layout.jade
// Angular Layout page
// Author: RH

doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/baristamatic.css')
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        script(src='/libs/angular/angular.js')
        script(src='/libs/angular-route/angular-route.js')
        script(src='/libs/angular-resource/angular-resource.js')
        script(src='/libs/jquery/dist/jquery.js')
        script(src='/libs/bootstrap/dist/js/bootstrap.js')
        script(src='/js/barista-app/app.js')
        script(src='/js/barista-app/controllers/baristamaticCntl.js')
        script(src='/js/barista-app/services/baristamaticService.js')

        //Templates

        //Required for HTML5 $location use
        base(href="/")

    body(ng-app='Baristamatic')
        header
            div.brand Baristamatic
            div.address-bar 302 Wilcox Street | Castle Rock, CO 80104 | 123.456.7890

        //index.jade is inserted here
        block content

        footer
            div.container
                div.row
                    div.col-sm-12.text-center
                        p WebPilot LLC 2015